    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

            <header class="header">
                <div class="header__content row">
    
                    <div class="header__logo">
                        <a class="logo" href="/">
                            <!-- <img src="images/logo.svg" alt="Homepage"> -->
                            <h1><%= title %></h1>
                        </a>
                    </div> <!-- end header__logo -->
    
                    <div class="header__search-trigger-wrapper">
                        <a><%= __('Buscar') %></a>
                        <a class="header__search-trigger" href="#0"></a>
                    </div>
    
                    <div class="header__search">
    
                        <form role="search" method="get" class="header__search-form" action="#">
                            <label>
                                <span class="hide-content">Search for:</span>
                                <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s"
                                    title="Search for:" autocomplete="off">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
    
                        <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
    
                    </div> <!-- end header__search -->
    
    
                    <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
    
                    <nav class="header__nav-wrap">
    
                        <h2 class="header__nav-heading h6"><%= __('Menú de navegación') %></h2>
    
                        <ul class="header__nav">
                            <% getLocales().forEach( lang => { %>
                            <li><a href="/lang/<%= lang %>"><%= lang.toUpperCase() %></a></li>
                            <% }); %>
                            <li class="current"><a href="/" title=""><%= __('Inicio') %></a></li>
                            <li class="has-children">
                                <a href="#0" title=""><%= __('Categorías') %></a>
                                <ul class="sub-menu">
                                    <!--
                                        <li><a href="category.html"><%= __('Estilo de vida') %></a></li>
                                        <li><a href="category.html"><%= __('Salud') %></a></li>
                                        <li><a href="category.html"><%= __('Familia') %></a></li>
                                        <li><a href="category.html"><%= __('Gestiones') %></a></li>
                                        <li><a href="category.html"><%= __('Viajes') %></a></li>
                                        <li><a href="category.html"><%= __('Trabajo') %></a></li>
                                    -->                                    

                                    <% categories.forEach(function(category){ %>
                                        <li><a href="?category=<%= category.path %>"><%= category.title %></a></li>
                                    <% }) %>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#0" title="">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="single-video.html">Video Post</a></li>
                                    <li><a href="single-audio.html">Audio Post</a></li>
                                    <li><a href="single-gallery.html">Gallery Post</a></li>
                                    <li><a href="single-standard.html">Standard Post</a></li>
                                </ul>
                            </li>
                            <li><a href="style-guide.html" title=""><%= __('Estilos') %></a></li>
                            <li><a href="about.html" title=""><%= __('Sobre nosotros') %></a></li>
                            <li><a href="contact.html" title=""><%= __('Contacto') %></a></li>

                            <% if(session.authUser) { %>
                                <li><a href="/admin" title=""><%= __('Admin') %></a></li>
                                <% } else { %>
                                <li><a href="/admin/login" title=""><%= __('Login') %></a></li>
                            <% } %>
                            
                        </ul> <!-- end header__nav -->
    
                        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
    
                    </nav> <!-- end header__nav-wrap -->
    
                    <!-- breadcrumbs -->
                    <ul class="breadcrumb">
                        <% breadcrumbs.forEach(breadcrumb => { %>
                            <li><a href="<%= breadcrumb.url %>"><%= breadcrumb.name %></a></li>
                        <% }) %>
                    </ul> <!-- end breadcrumbs -->
                
                </div> <!-- header-content -->
                
            </header> <!-- header -->
    
        </section> <!-- end s-pageheader -->