<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Bloggio - un lugar para leer y escribir grandes ideas e historias importantes</title>
    <meta name="description"
        content="Bienvenido a Bloggio, un lugar donde las palabras importan. Los medios se aprovechan de los cerebros de los escritores, pensadores y narradores más perspicaces del mundo para ofrecerte las tomas más inteligentes sobre temas importantes. Entonces, sea cual sea su interés, siempre puede encontrar nuevos pensamientos y perspectivas únicas.">
    <meta name="author" content="Wakanda">
    
    
    <!--- link rel canonical
    ================================================== -->
    <link rel="canonical" href="https://bloggio.org">
    <base href="<%- _host %>">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!--  Twitter  Card  data
    ================================================== -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="bloggio.org">
    <meta name="twitter:title" content="Bloggio - un lugar para leer y escribir grandes ideas e historias importantes">
    <meta name="twitter:description" content="Bienvenido a Bloggio, un lugar donde las palabras importan. Los medios se aprovechan de los cerebros de los escritores, pensadores y narradores más perspicaces del mundo para ofrecerte las tomas más inteligentes sobre temas importantes. Entonces, sea cual sea su interés, siempre puede encontrar nuevos pensamientos y perspectivas únicas.">
    <meta name="twitter:image" content="./images/rrss/pexels-photo-733856_twittercard.jpeg">

    <!--  Open  Graph  data  
    ========================================================================-->
        <meta prefix="og:  https://www.bloggio.org/  fb:  https://www.bloggio.org/ article:https://www.bloggio.org/">
        <meta property="og:title" content="Bloggio" />
        <meta property="og:type" content="Bloggio - un lugar para leer y escribir grandes ideas e historias importantes" />
        <meta property="og:url" content="https://www.bloggio.org/" />
        <meta property="og:image" content="./images/rrss/pexels-photo-733856_twittercard.jpeg" />
        <meta property="og:description" content="Bienvenido a Bloggio, un lugar donde las palabras importan. Los medios se aprovechan de los cerebros de los escritores, pensadores y narradores más perspicaces del mundo para ofrecerte las tomas más inteligentes sobre temas importantes. Entonces, sea cual sea su interés, siempre puede encontrar nuevos pensamientos y perspectivas únicas." />
        <meta property="og:site_name" content="Bloggio" />
        <meta property="fb:app_id" content="Your  FB_APP_ID" />

</head>

<body id="top">
    
    <% include components/header.html %>

    <!-- s-content
    ================================================== -->
    <section class="s-content">

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                <% posts.forEach(function(post){ %>
                    <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        <% if (post.img_url) {%>
                            <div class="entry__thumb">
                                <a href="<%= post.category.path + '/' + post.path %>" class="entry__thumb-link">
                                    <img src="<%= post.img_url %>" alt="">
                                </a>
                            </div>
                        <% } %>

                        <div class="entry__text">
                            <div class="entry__header">

                                <div class="entry__info">
                                    <ul class="entry__meta">
                                        <li><a href="#0"><%= `${post.author.firstName} ${post.author.lastName}` %></a></li>
                                        <li><%= post.dateParsed %></li>
                                    </ul>
                                </div>
                                <h1 class="entry__title"><a href="<%= post.category.path + '/' + post.path %>"><%= post.title %></a>
                                </h1>

                            </div>
                            <div class="entry__excerpt">
                                <p><%= post.intro_text %></p>
                            </div>
                            <div class="entry__meta">
                                <span class="entry__meta-links">
                                        <a href="category.html"><%= post.category.title %></a>
                                </span>
                            </div>
                        </div>

                    </article> 
                
                <% }) %>

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        <!--
        <div class="row">
            <div class="col-full">
                <nav class="pgn">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        -->

    </section> <!-- s-content -->

    <% include components/footer.html %>


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>