<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Bloggio - un lugar para leer y escribir grandes ideas e historias importantes</title>
    <meta name="description"
        content="Bienvenido a Bloggio, un lugar donde las palabras importan. Los medios se aprovechan de los cerebros de los escritores, pensadores y narradores más perspicaces del mundo para ofrecerte las tomas más inteligentes sobre temas importantes. Entonces, sea cual sea su interés, siempre puede encontrar nuevos pensamientos y perspectivas únicas.">
    <meta name="author" content="Wakanda">
    
    
    <!--- link rel canonical
    ================================================== -->
    <link rel="canonical" href="https://bloggio.org">
    <base href="<%- _host %>">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!--  Twitter  Card  data
    ================================================== -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="bloggio.org">
    <meta name="twitter:title" content="Bloggio - un lugar para leer y escribir grandes ideas e historias importantes">
    <meta name="twitter:description" content="Bienvenido a Bloggio, un lugar donde las palabras importan. Los medios se aprovechan de los cerebros de los escritores, pensadores y narradores más perspicaces del mundo para ofrecerte las tomas más inteligentes sobre temas importantes. Entonces, sea cual sea su interés, siempre puede encontrar nuevos pensamientos y perspectivas únicas.">
    <meta name="twitter:image" content="./images/rrss/pexels-photo-733856_twittercard.jpeg">

    <!--  Open  Graph  data  
    ========================================================================-->
        <meta prefix="og:  https://www.bloggio.org/  fb:  https://www.bloggio.org/ article:https://www.bloggio.org/">
        <meta property="og:title" content="Bloggio" />
        <meta property="og:type" content="Bloggio - un lugar para leer y escribir grandes ideas e historias importantes" />
        <meta property="og:url" content="https://www.bloggio.org/" />
        <meta property="og:image" content="./images/rrss/pexels-photo-733856_twittercard.jpeg" />
        <meta property="og:description" content="Bienvenido a Bloggio, un lugar donde las palabras importan. Los medios se aprovechan de los cerebros de los escritores, pensadores y narradores más perspicaces del mundo para ofrecerte las tomas más inteligentes sobre temas importantes. Entonces, sea cual sea su interés, siempre puede encontrar nuevos pensamientos y perspectivas únicas." />
        <meta property="og:site_name" content="Bloggio" />
        <meta property="fb:app_id" content="Your  FB_APP_ID" />

</head>

<body id="top">

    <% include components/header.html %>

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    <%= post.title %>
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date"><%= post.dateParsed %></li>
                    <li class="cat">
                        In
                        <a href="<%= `?category=${post.category.path}`%>"><%= post.category.title %></a>
                    </li>
                </ul>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="<%= post.img_url %>">
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">

                <p class="lead"><%= post.intro_text %></p>
                
                <%- post.body_text %>
            </div> <!-- end s-content__main -->
        </article>
    </section> <!-- s-content -->

    <% include components/footer.html %>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>

